<header>
    <div class="logo"><a href="/"><img src="/images/group_strength_logo.png"></a></div>
    <div class="nav">
        <ul>
        </ul>
    </div>
</header>
<h1>Results View!!!</h1>
{{#each actuals}}
    <p>{{exerciseId}} {{actualReps}}</p>    
{{/each}}
    
